.btn
{
	transition:all 0.5s;
}
.alert-dismissable
{
	text-align:center;
}

.loadShow
{
	
	text-align:center;
}

.loadImg
{
	width:30px;
	height:30px;
	margin-left:auto;
	margin-right:auto;
	color:white;
	animation: myfirst 5s;
	-moz-animation: myfirst 5s;	/* Firefox */
	-webkit-animation: myfirst 5s;	/* Safari 和 Chrome */
	-o-animation: myfirst 5s;	/* Opera */
	
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
}


@keyframes myfirst
{
0%   {transform:rotate(0deg);}
50%  {transform:rotate(180deg);}
100% {transform:rotate(360deg);}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {transform:rotate(0deg);}
50%  {transform:rotate(180deg);}
100% {transform:rotate(360deg);}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
0%   {transform:rotate(0deg);}
50%  {transform:rotate(180deg);}
100% {transform:rotate(360deg);}
}

@-o-keyframes myfirst /* Opera */
{
0%   {transform:rotate(0deg);}
50%  {transform:rotate(180deg);}
100% {transform:rotate(360deg);}
}


.addBut
{
	background-color:#f4bdbf;
	margin-left:auto;
	margin-right:auto;
	width:40px;
	height:40px;
	text-align:center;
	border-radius:20px;
	color:white;
	font-size:28px;
	font-weight:bolder;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    transition:all 0.5s;
}
.addBut:hover
{
	cursor:pointer;
	transform:rotate(180deg);
}
.store-btn-delete,#newStoreDel,#newStoreAdd,.store-btn-edit
{
	transition:all 0.5s;
}

.store-btn-edit:hover
{
	margin-left:10px;
	cursor:pointer;
}

.store-btn-delete:hover,#newStoreDel:hover
{
	cursor:pointer;
	transform:rotate(180deg);
}

#newStoreAdd:hover
{
	cursor:pointer;
	margin-left:10px;
}

.tableTr
{
	background-color:#f4bdbf;
}
.tableBottomTr
{
	border:1px solid grey;
	border-left:0px;
	border-right:0px;
}

.tool-bar,.setNotShow
{
 visibility:hidden;
}
.delImg
{
	width:30px;
	height:30px;
}
th,td,td input,td select option
{
	text-align:center;
}
#add-s-id,#add-type
{
	width:200px;
}
.showBorder
{
	outline: none;
	box-shadow: 0px 0px 2px 2px #ff8488;
}
.wrapper-right
{
	border:1px solid grey;
}

#new-pname-card
{
	width:250px;
}
#new-good-num
{
	width:100px;
}
.recharge-content
{
	padding-top:50px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	border:1px solid white;
	width:500px;
	background-color:#f6d9da;
	border-radius:20px;
}
.modify-btn
{
	width:150px;
	height:50px;
	margin-left:auto;
	margin-right:auto;
	color:white;
	background-color:#f29c9f;
	
}

.myInput
{
	background-color:white;
}
.alert-dismissable
{
	background-color:#f29c9f;
	margin-left:auto;
	margin-right:auto;
	font-size:20px;
	height:50px;
}
.cart-table
{
	overflow:auto;
}
.setShow
{
	 visibility:visible;
}

.confirm-btn
{
	text-align:center;
}
.setBackWhite
{
	background-color:white;
}
#modify-integral
{
	width:90px;
	height:30px;
}
.cardBottom-btn
{
	margin-left:120px;
	background-color:#f29c9f;
	width:100px;
	height:50px;
	font-size:20px;
	color:white;
}
#bankcard
{
	width:270px;
}
.dialog-title
{
	text-align:center;
	font-size:25px;
}
#amount
{
	width:200px;
	margin-left:auto;
	margin-right:auto;
	height:40px;
}
.amount-input
{
	text-align:center;
}
#confirm-recharge
{
	margin-left:auto;
	margin-right:auto;
	margin-top:-7px;
	width:80px;
	height:40px;
	font-size:18px;
}
.setMid
{
	margin-left:auto;
	margin-right:auto;
}
#server
{
	width:100px;
}
#sendMessage
{
	height:40px;
	margin-top:-8px;
	width:90px;
}
#input-message
{
	width:600px;
}
.hideOverFlow
{
	overflow:hidden;
}
.tableTr-del
{
	background-color:grey;
	color:white;
}